# http://editorconfig.org
root = true

[*]
indent_size = 2
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{Makefile,*.{mk,make}}]
indent_style = tab
indent_size = 4

[*.{py,pyi,ipynb}]
indent_size = 4

[*.{sql}]
indent_size = 4

[*.{yml,yaml}]
indent_style = space
